body {
     
    background-color: rgb(88, 8, 88);
    color:whitesmoke
    
}
a {
    color:black
}
 #lucas {
  background-color: cadetblue;
  color:black
}
h2 {
   color:black
}
p {
   font-family:monospace ;

}